<h3 class="page-title"><%= _locals.title %></h3>
<style>
  .page-message { color: green }
</style>
<script>
  // Script content!
</script>
<h3 class="page-message"><%= message %></h3>

<a href="/other">Other View</a>