<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <header>
    <!-- Start of Salesmsg Embed Code -->
    <script type="text/javascript">
        window.salesmsgSettingsWidget = {
	    api_url: "https://app.salesmessage.com",
	    uuid: "37987539-d97a-43e2-960d-d2dd56abe9ba"
    };
    </script>
    <script type="text/javascript" src="https://d20ufhxg3m5wej.cloudfront.net/js/chat.js"></script>
    <!-- End of Salesmsg Embed Code -->
    <!-- Start of Salesmsg Embed Code -->
    <script type="text/javascript" src="https://d20ufhxg3m5wej.cloudfront.net/js/conversions.js?1651701783211"></script>
    <!-- End of Salesmsg Embed Code -->
  </header>
  <footer>
  </footer>
</body>
</html>

