<h3 class="page-title"><%= _locals.title %></h3>
<%- contentFor('footer') %>
<%- contentFor('body') %>
<style>
  .page-message { color: red }
</style>
<script>
  <!-- Start of Salesmsg Embed Code -->
  <script type="text/javascript" src="https://d37rfzzzole5ut.cloudfront.net/js/conversions.js?1651707462807"></script>
  <!-- End of Salesmsg Embed Code -->
</script>

<h3 class="page-message"><%= message %></h3>