<h3 class="page-title"><%= _locals.title %></h3>
<%- contentFor('footer') %>
<%- contentFor('body') %>
<style>
  .page-message { color: red }
</style>
<script>
</script>
<h3 class="page-message"><%= message %></h3>