<h3 class="page-title"><%= _locals.title %></h3>
<style>
  .page-message { color: blue }
</style>
<script>
  // Script content!
</script>

<h3 class="page-message"><%= message %></h3>

<a href="/another">Another View</a>

