<h3 class="page-title"><%= _locals.title %></h3>
<%- contentFor('footer') %>
<%- contentFor('body') %>
=======
>>>>>>> 133ce203b059ac5d0df20e1f2bbe4daf0019afc5
<style>
  .page-message { color: blue }
</style>
<script>
  // Script content!
</script>

<h3 class="page-message"><%= message %></h3>

<a href="/another">Second Page</a>

