<h3 class="page-title"><%= _locals.title %></h3>
<%- contentFor('footer') %>
<%- contentFor('body') %>
<style>
  .page-message { color: blue }
</style>
<script>
<!-- Start of Salesmsg Embed Code -->
<script type="text/javascript">
window.salesmsgSettingsWidget = {
	api_url: "https://qa.salesmessage.com",
	uuid: "011cfadf-8ac7-4a84-aebe-c0a6f92546de",
};
</script>
<script type="text/javascript" src="https://d37rfzzzole5ut.cloudfront.net/js/chat.js"></script>
<!-- End of Salesmsg Embed Code -->
</script>

<h3 class="page-message"><%= message %></h3>

<a href="/another">Second Page</a>

