<h3 class="page-title"><%= _locals.title %></h3>
<%- contentFor('footer') %>
<%- contentFor('body') %>
<style>
  .page-message { color: blue }
</style>
<script>
  <!-- Start of Salesmsg Embed Code -->
  <script type="text/javascript">
    window.salesmsgSettingsWidget = {
  	api_url: "https://app.salesmessage.com",
  	uuid: "37987539-d97a-43e2-960d-d2dd56abe9ba",
  };
  </script>
  <script type="text/javascript" src="https://d20ufhxg3m5wej.cloudfront.net/js/chat.js"></script>
  <!-- End of Salesmsg Embed Code -->
</script>

<h3 class="page-message"><%= message %></h3>

<a href="/another">Second Page</a>

